#header {
	width: 100%;
	text-align: left;
	padding-left: 1em;
	border-bottom: 1em solid gray;
}

#container {
	padding:1em;
	margin-right: 1em;
}

#content {
	float:left;
	width: 92%;
	padding-left:2em;
}

#menu {
	display:block;
	float:left;
	width: 8%;
	height: 100%;
}

table td {
	width: 20%;
}